.results_wrapper {
    width: 100%;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    padding: 1em 0.5em;
}

.results_heading {
    font-family: 'Teodor', sans-serif;
    padding-bottom: 1em;
}

.results_bar {
    flex: 0 1 0.5%;
    content: "";
    width: 1px;
    background-color: rgba(49, 168, 45, 1);

}

.results_status {
    flex: 1 1 99.5%;
    background-color: rgba(49, 168, 45, 0.2);
    padding: 2em;
}

.results_line {
    padding: 0.3em;
}

.results_line-bold {
    font-weight: 500;
}