.error_wrapper {
    width: 100%;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 1em;
}

.error_bar {
    flex: 0 1 0.5%;
    content: "";
    width: 1px;
    background-color: rgba(168, 45, 49, 1);

}

.error_status {
    flex: 1 1 99.5%;
    background-color: rgba(168, 45, 49, 0.2);
}


.error_message {
    margin: 0;
    padding: 10px;
}