@import url(//fonts.googleapis.com/css?family=DM+Sans);
@font-face {
  font-family: Teodor;
  src: url(TeodorTRIAL-Medium.otf);
}


* {
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans', sans-serif;
  line-height: 24px;
}


h1 {
  font-family: 'Teodor', sans-serif;
}